.container {
  max-width: 730px;
  width: 730px;
  // padding: 1.25rem;
  border-radius: 1rem;
  @media screen and (max-width: 768px) {
    width: 100%;
  }
}

.errorContainer {
  position: fixed;
  bottom: 1rem;
  left: 1rem;
  width: 100%;
  margin-left: 115px;
  @media screen and (max-width: 768px) {
    margin-left: 0;
  }
}

.anchor {
  position: relative;
  top: -85px;
  z-index: -1;
}
