.container {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.heading {
  color: #4BB29E;
  text-align: left;
  font-size: 1.13rem;
  letter-spacing: 0px;
  font-weight: 500;
  padding-bottom: 15px;
  margin-bottom: 20px;
  border-bottom: 1px solid #C8E8E2;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.paper {
  width: 100%;
}

.fieldsContainer {
  width: 100%;
  padding: 20px 30px;
  border-radius: 1rem;
  border: 1px solid var(--clr-grey-main);
  align-items: center;
  justify-content: center;

  @media screen and (max-width: 768px) {
    padding: 20px;
  }
}

.fieldsContainerFirst {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.88rem;
  @media screen and (max-width: 768px) {
    grid-template-columns: 1fr;
    //padding: 1rem 1.25rem;
  }
  @media screen and (max-width: 650px) {
    grid-template-columns: 1fr;
    //padding: 1rem 1.25rem;
  }
}

.fieldsContainerSecond {
  display: grid;
  grid-template-columns: 1fr;
}

.fieldDescription {
  width: 100%;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.button:hover {
  border: 1px solid #4BB29E;
  background-color: #4BB29E;
}