.container {
  position: fixed;
  top: 0;
  left: 0;
  padding: 30px 0;
  width: 340px;
  height: 100vh;
  background: #F6F7FB;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  text-align: left;
  gap: 30px;
}

.logo {
  padding-left: 30px;
}

.containerList {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.ul {
  width: 100%;
}

.historyUl {
  max-height: 55vh;
  overflow-y: auto;
}

.subItem {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0.725rem;
  text-align: left;
  font: normal normal medium 12px/24px Inter;
  color: #6D7C8F;
  cursor: pointer;
  padding-left: 30px;
}

.subItemPost {
  padding: 10px 20px 10px 30px;
  color: #091F3D;
  font-weight: 600;
}

.subItemPrompt {
  width: 100%;
  padding: 10px 10px 10px 30px;
  text-align: left;
  font: normal normal medium 12px/24px Inter;
  color: #091F3D;
  font-weight: 500;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.subHistory {
  text-align: left;
  font: normal normal medium 12px/24px Inter;
  letter-spacing: 0px;
  color: #6D7C8F;
  opacity: 1
}

.subItemPrompt:hover {
  background: #fff;
}

.subChecks {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  padding-right: 15px;
}

.subChecks > p {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  gap: 5px;
}

.checksChip {
  width: 24px;
  height: 24px;
  padding: 4px 8px;
  background: #C8E8E2;
}

.subItemProfile {
  margin: 5px 0;
}

.profilePhoto {
  border-radius: 50%;
}

.hamburger {
  display: none;
}

@media screen and (max-width: 980px) {
  .container {
    width: 100%;
    scroll-behavior: smooth;
    background: none;
    padding: 0;
    gap: 0;
    z-index: 1;
  }

  .containerList {
    position: absolute;
    justify-content: flex-start;
    top: 66px;
    width: 240px;
    left: -240px;
    background-color: #F6F7FB;
    transition: all 2s;
    //animation: 2s linear 0s slideOut;
    //animation-fill-mode: forwards;
  }

  .open {
    display: flex;
    left: 0;
    animation: 1s ease-in-out 0s slideIn, 1s ease-in-out 3s slideOut;
  }

  //@keyframes slideIn {
  //  from {
  //    transform: translateX(-240px);
  //  }
  //  to {
  //    transform: translateX(0);
  //  }
  //}
  //
  //@keyframes slideOut {
  //  from {
  //    transform: translateX(0);
  //  }
  //  to {
  //    transform: translateX(-240px);
  //  }
  //}

  .hamburger {
    position: absolute;
    top: 15px;
    left: 15px;
    display: initial;
  }

  .historyUl {
    max-height: 60vh;
  }

  .logo {
    width: 100%;
    text-align: center;
    background-color: #F6F7FB;
    padding: 15px;
  }

  .logo > img {
    width: 105px;
    height: 30px;
  }

  .subChecks {
    margin-top: 15px;
  }

  .subItemPrompt, .subItemPost, .subChecks {
    padding-left: 15px;
  }

  .subItemProfile {
    font-size: 12px;
  }
}
