.container {
  max-width: 1240px;
  margin: 6rem auto 0;
  padding: 1.5rem;
  //width: 730px;
  //border-radius: 1rem;
  //display: flex;
  //align-items: center;
  //justify-content: center;
}

.heading {
  font-size: 1.13rem;
  font-weight: 600;
  text-align: left;
}