
.blocks {
  margin-top: 20px;
  display: grid;
  height: fit-content;
  grid-template-columns: 430px 780px;
  gap: 30px;
  grid-template-rows: auto;
  grid-template-areas:
    "a b"
    "a c"
    "d c"
    ". c"
}

.firstBlock {
  grid-area: a;
}

.secondBlock {
  grid-area: b;
}

.thirdBlock {
  grid-area: c;
}

.fourthBlock {
  grid-area: d;
}

.skeleton_mini {
  width: 430px;
}

.skeleton_max {
  width: 780px;
}