.scrollButton {
  position: fixed;
  z-index: 100;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  opacity: 0.5;
  border: 0;
  background: transparent;
  right: 1.5rem;
  &:hover {
    opacity: 1;
  }
  &.hidden {
    opacity: 0;
    pointer-events: none;
  }
  &.onBottom {
    bottom: 1rem;
  }

  &.onTop {
    top: 1rem;
    transform: rotate(180deg);
  }
}
